{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        {% if  post.name  == None %}

        {% else %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">

                  <h3 style="color:blue;"> {{ post.name }}</h3>

                </div>
                <p> <b> Number of Rooms: </b> {{ post.numOfRoom }}</p>

                <p> <b> Number of Bedrooms:</b>{{ post.numOfBedroom }}</p>

                <p> <b> Square meter:</b> {{ post.sqmeter }} </p>

              </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}
