<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Out</title>
    <h2> You have logged out!</h2>
</head>
<body>
<div class="border-top pt-3">
        <p> </p><a  href="{{ url_for('login') }}">Login
        </p>
    </div>
</body>
</html>